*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container  {
    width: 80%;
    margin: 10px auto;
}

/*header*/
.header  {
    height: 100px;
}

.logo  {
    width: 10em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 15px 0px 0px;;
}

.nav  {
    line-height: 4em;
}

.list  {
    list-style: none;
    margin-right: 1em;
    font-size: 0.8em;
}

a  {
    text-decoration: none;
}

.grey  {
    color: gray;
    
}

.header-box  {
    margin: 35px 0px 30px;
    background-image: url(../img/banner.jpg);
    background-position: center;
}

.jumbotron  {
    height: 450px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.caption  {
    color: white;
    width: 40%;
    padding: 25% 0% 0% 5%;
}

/*main*/
.header-body  {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
}

.col-left  {
    background-image: url(../img/img-1.jpg);
    background-size: 300px 270px;
    background-repeat: no-repeat;
}

.col-right  {
        background-image: url(../img/img-3.jpg);
        background-size: 320px 265px;
        background-repeat: no-repeat;
}

h2  {
    line-height: 2em;
}

.float  {
    float: left;
}

[class*=col]  {
    width: 25%;
}

.col-central  {
    width: calc(50% - 40px);
    margin: 0 20px;
    background-image: url(../img/banner-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-over  {
    background-color: rgba(0, 0, 0, 0.2);
    height: 15em;
    border-radius: 10px;
}

.clearfix::after  {
    content: '';
    display: table;
    clear: both;
}

.footer  {
    text-align: center;
    margin-top: 2em;
}

span  {
    color: red;
}